{% extends 'base.html' %}
{% block content %}

    <main class="container mx-auto py-8">
        <div class="text-base uppercase font-medium text-blue-500">
            publication
        </div>

        <div>
            <h1 class="text-2xl font-bold">Lorem ipsum, dolor sit amet </h1>
            <div class="mt-1">
                Autor: <span class="font-semibold">User</span> 24.06.2026 19:21
            </div>
            <p class="text-base text_zinc_500 mt-2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium facilis modi aut nemo. Quod molestias dolorum quia, laudantium dolore non harum nihil iusto soluta sapiente facilis porro ducimus eligendi assumenda!</p>

        </div>

        <div class="mt-4">
            <h2 class="text-lg font-semibold">comments</h2>
            <div class="text-sm bg-white rounded-lg py-2 px-4 my-2">
                <a href="" class="text-blue-500 hover:underline">Enter</a>, to leave a comment
            </div>
            <div>
                <p class="text-sm text-zinc-800">
                    <span class="font-semibold text-black">User</span>
                    24.06.2026 19:21
                </p>
                <p class="text-xs">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum culpa nam, explicabo, reprehenderit provident at dolorem dolor maiores minima repellat obcaecati molestias saepe accusamus exercitationem mollitia fugit itaque veritatis magnam.</p>
            </div>
        </div>

    </main>

{% endblock %}